stages:
  - run-operational

variables:
  HOME: "/home/gitlab-runner"
  CONDA_HOME: "$HOME/miniforge3"  # Adjust if Miniforge3 is installed elsewhere
  CONDA_ENV_NAME: "pyonhm"
  ENV_FILE_PATH: "$CI_PROJECT_DIR/nhm_conus.env"  # Assuming nhm_uc.env is in the repo
  LOG_DIR: "$HOME/pyonhm_logs"

update_cfsv2_data:
  stage: run-operational
  tags:
    - shell
    - docker
    - conda
    - pyonhm
  script:
    - echo "Starting the run-operational job"

    # # Ensure HOME is set (GitLab CI sets it, but we reinforce it)
    # - export HOME="${HOME:-/home/$(whoami)}"

    # # Add Miniforge3 to PATH
    # - export PATH="$CONDA_HOME/bin:$PATH"

    # # Attempt to locate conda.sh dynamically
    # - CONDA_BASE=$(conda info --base 2>/dev/null)
    # - |
    #   if [ -n "$CONDA_BASE" ] && [ -f "$CONDA_BASE/etc/profile.d/conda.sh" ]; then
    #       source "$CONDA_BASE/etc/profile.d/conda.sh"
    #   elif [ -f "$CONDA_HOME/etc/profile.d/conda.sh" ]; then
    #       source "$CONDA_HOME/etc/profile.d/conda.sh"
    #   else
    #       echo "Conda initialization script not found."
    #       exit 1
    #   fi

    # # Activate the conda environment
    - conda activate "$CONDA_ENV_NAME"

    # Run update CFSv2 median forecast
    - pyonhm run-update-cfsv2-data --env-file "$ENV_FILE_PATH" --method median

    # Run update CFSv2 ensembles forecast
    - pyonhm run-update-cfsv2-data --env-file "$ENV_FILE_PATH" --method ensemble

    # Run operational model
    - pyonhm run-operational --env-file "$ENV_FILE_PATH"

    # forecasts 
    - pyonhm run-sub-seasonal --env-file "$ENV_FILE_PATH" --method median
    - pyonhm run-sub-seasonal --env-file "$ENV_FILE_PATH" --method ensemble

    # Deactivate the conda environment
    - conda deactivate

  # artifacts:
  #   paths:
  #     - "$LOG_DIR/pyonhm_cfsv2_cron_$(date '+%Y%m%d').log"
  #   expire_in: 1 week

  only:
    - schedules

