stages:
  - test
docker_test:
  stage: test
  tags:
    - shell
    - docker
    - conda
    - pyonhm
  script:
    - echo "Testing Docker with 'docker run hello-world'"
    - docker run hello-world
  only:
    - branches
